<center><h1><font size="16">About the team</font></h1>
<h2><font size="6"><%= link_to 'Back to Home', root_path %></font></h2>
<h3><font size="5">Here's a load of info about us</font></h3>
<p> Insert gibberish here and here. Then here and here. Insert gibberish here and here. Then here and here. Insert gibberish here and here. Then here and here.
  Insert gibberish here and here. Then here and here. Insert gibberish here and here. Then here and here. Insert gibberish here and here. Then here and here.
  Insert gibberish here and here. Then here and here. Insert gibberish here and here. Then here and here. </p>
</center>
